body {
	margin: 0 auto;
  background-image: url("../images/vintage-concrete.png");
}

h1, h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
  clear: both;
  list-style-type: none;
  border-bottom: solid 2px #cccccc;
  margin: 0;
  padding-right: 150px;
  overflow: hidden;
  background-color: #ffffff;
}

li {
	float: right;
}

li a {
  border-right:solid 1px #ccc;
  display: block;
  color: #777777;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  line-height: 55px;
}

#logo {
	background-color: #4aaaa5;
	color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
	width: 250px;
	height: 55px;
  padding: 15px;
  margin-left: 70px;
	text-align: center;
	float: left;
  font-size: 30px;
  vertical-align: middle;
	line-height: 55px;
}

#about {
  clear: both;
  float: left;
  background-color: #ffffff;
  width: 610px;
  padding: 5px 20px;
  margin: 50px 0 40px 110px;
  line-height: 1.5;
}

.maintitle {
  border-bottom: solid 2px #cccccc;
}

#about_content img {
  float: left;
  padding-right: 10px;
}

#connect_title {
  border-bottom: solid 2px #cccccc;
  font-size: 13px;
}

.connect {
  float: left;
  background-color: #ffffff;
  padding: 5px 20px;
  width: 230px;
  margin: 50px 0 20px 40px;
}

#social {
  padding: 15px 5px;
  display: block;
}

footer {
  clear: both;
  background: #666666;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-top: solid 5px #4aaaa5;
  font-size: 10px;
}





/* PORTFOLIO Add a black background color to the top navigation
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover 
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

header a,header div {
    display:inline-block;
    vertical-align:middle;
 }

 header a {
  background-color: #333;
 }*/